.top{
    border-radius: 15px;
    background-color: bisque;
    padding-inline-start: 10px;
}

.image{
    width: 250px;
    height: 250px;
    border-radius: 125px;
    padding: 5px;
    border: 2px color black;
}

.topname{
    font-size: 30px;
}
.column {
    float: left;
    width: 33%;
  }
  
.columntop {
float: left;
width: 25%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}